<% content_for(:title, "Retrieve Content App Downloads") %>

<ul>
  <li><%=link_to "retrieve-content.zip", :action=>'send_zip' %></li>
  <li><%=link_to "truststore.jks", :action=>'send_key' %></li>
</ul>

