<% content_for(:title, "Devices") %>

<%= rsna_table_for @devices, class: "sortable table table-bordered table-striped" do |st| %>
  <% st.column("AE Title") {|d| h d.ae_title} %>
  <% st.column("Host") {|d| h d.host} %>
  <% st.column("Port Number") {|d| h d.port_number} %>
  <% st.column("") {|device| button_to("Edit", {controller: :devices, action: :edit, id: device.id}, class: "btn btn-primary", method: :get) } %>
  <% st.column("") {|device| button_to("Delete", {controller: :devices, action: :destroy, id: device.id}, class: "btn btn-primary", method: :post) } %>
  <% st.column("") {|device| link_to("Test", {controller: :devices, action: :test, id: device.id}, class: "btn btn-primary test-button") + content_tag(:div,"", class: "test-response") } %>
<% end %>

<div style="margin-top: 10px; margin-left: 5px;">
  <%= button_to("Add New Device", {controller: :devices, action: :new}, class: "btn btn-primary", method: :get) %>
</div>
