<% content_for(:title, "Devices") %>

<%= rsna_table_for @devices, :sortable => true do |st| %>
  <% st.column("AE Title") {|d| h d.ae_title} %>
  <% st.column("Host") {|d| h d.host} %>
  <% st.column("Port Number") {|d| h d.port_number} %>
  <% st.column("") {|device| button_to("Edit", {:controller => :devices, :action => :edit, :id => device.id}, :method => :get) } %>
  <% st.column("") {|device| button_to("Delete", {:controller => :devices, :action => :destroy, :id => device.id}, :method => :post) } %>
<% end %>

<div style="margin-top: 10px; margin-left: 5px;">
  <%= button_to("Add New Device", {:controller => :devices, :action => :new}, :method => :get) %>
</div>
