<% content_for(:title, "Search for Patients") %>

<div class="tab-content margin-top">
  <div class="tab-pane active" id="simple-search">
    <%= form_for :search, :html => {id: "search_form", method: :get, class: "form-inline", onsubmit: "search_by($('#search_form').serialize()); return false;"} do |f| %>
    <div class="form-group">
      <input name="search" class="search form-control" type="text" size="30" />
      <%= submit_tag "Search", :class => "btn btn-primary" %>
      <input name="search_type" type="hidden" value="simple" />
    </div>
    <br />
    <label  for="search">Search by patient name, medical record number, year of birth, and/or email address</label>
    <% end %>
  </div>

</div>

<div id="search_spinner" class="progress progress-striped active margin-top" style="display: none; width: 560px;">
  <div class="progress-bar" style="width: 100%"></div>
</div>

<%= content_tag :div, "", class: "margin-top", id: "search_results" %>

<%= render partial: "patients/consent_dialog", locals: {} %>

