<h1>RSNA Image Sharing</h1>
<div>
<table border="0" cellspacing="2", cellpadding="2" align="center">
  <tr>
    <th class="inline">Patient Name</th>
    <td><%= @patient.patient_name %></td>
  </tr>
  <tr>
    <th class="inline">RSNA ID</th>
    <td><%= @patient.rsna_id.rsna_id %></td>
  </tr>
</table>
</div>
