<div>
  <div class="inline">Patient Name:</div><span><%= @patient.patient_name %></span>
</div>

<div>
  <div class="inline">RSNA ID:</div><span><%= rsna_id_without_pin(@patient.rsna_id.rsna_id) %></span>
</div>

<div>
  <div class="inline" style="margin-bottom: 20px;">Security PIN:</div>
  <div>__________________________________</div>
  <div>Write your PIN # on the line above</div>
</div>

