<h1>RSNA Image Sharing</h1>
<div>
<table border="0" cellspacing="2", cellpadding="2" align="center">
  <tr>
    <th class="inline">Patient Name</th>
    <td><%= @patient.patient_name %></td>
  </tr>
  <tr>
    <th class="inline">RSNA ID</th>
    <td><%= rsna_id_without_pin(@patient.rsna_id.rsna_id) %></td>
  </tr>
  <tr>
    <th class="inline" valign="top">Security PIN</th>
    <td>
      <div>__________________________________</div>
      <div>Write your PIN # on the line above</div>
    </td>
  </tr>
</table>
</div>
