<% content_for(:title, "Configuration Variables") %>

<% som_table_for @edge_configurations, :sortable => true do |st| %>
  <% st.column("Key", &:key) %>
  <% st.column("Value", &:value) %>
  <% st.column("") {|ec| button_to("Edit", {:controller => :edge_configurations, :action => :edit, :id => ec.id}, :method => :get) } %>
  <% st.column("") {|ec| button_to("Delete", {:controller => :edge_configurations, :action => :destroy, :id => ec.id}, :method => :post) } %>
<% end %>

<div style="margin-top: 10px; margin-left: 5px;">
  <%= button_to("Add New Configuration Variable", {:controller => :edge_configurations, :action => :new}, :method => :get) %>
</div>
