/*
 *= require_self
 *= require slate/loader
 *= require slate/bootswatch
*/

.hide { display: none; }
.data { display: none; }
.margin-top { margin-top: 10px; }
.margin-left { margin-left: 10px; }
.center { text-align: center; }
a.btn { text-decoration: none !important; }

#title-header
{
  background-image: -ms-linear-gradient(left, #FFFFFF 0%, #856EC6 100%);
  background-image: -moz-linear-gradient(left, #FFFFFF 0%, #856EC6 100%);
  background-image: -o-linear-gradient(left, #FFFFFF 0%, #856EC6 100%);
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #FFFFFF), color-stop(1, #856EC6));
  background-image: -webkit-linear-gradient(left, #FFFFFF 0%, #856EC6 100%);
  background-image: linear-gradient(to right, #FFFFFF 0%, #856EC6 100%);
  padding-top: 15px;
  padding-bottom: 15px;
}

#primary-navbar
{
  border-radius: 0;
  border-left: 0;
  border-right: 0;
}

#page-header { margin-top: 0px; }
#footer { font-size: 10px; background-color: #444; padding-top: 3px; padding-bottom: 3px;}
#footer a { color: #9080c1; }
#footer a:hover { text-decoration: underline; }


#cart-modal .modal-dialog { width: 680px; }
#audit-modal .modal-dialog { width: 85%; }

.table-tab-container { display: none; }
.table-tab-container.active { display: block; }

.paginator-buttons
{ margin-bottom: 10px; text-align: center; height: 30px; line-height: 30px; }

.paginator-buttons .status
{ font-weight: bold; }

.monospace { font-family: "Lucida Console", Monaco, monospace; }