html, body
{
  margin: 0;
  padding: 0;
  position: absolute;
  font-size: 32pt;
  height: 8.5in;
  width: 100%;
}

#header
{
  height: 591px;
  margin-bottom: 100px;
}

#main
{
  padding-left: 1in;
}

div.inline { position: relative; font-weight: bold; width: 4in; display: inline-block; }
div.description { font-size: 16pt; }
div.footer
{ page-break-after: avoid; }
