<h1>Cart Queued for Sending</h1>

<div class="demographic">
  <label>Patient Name:</label>
  <span><%= @patient.patient_name %></span>
</div>

<div class="demographic">
  <label>Date of Birth:</label>
  <span><%= @patient.dob %></span>
</div>

<div class="demographic">
  <label>Exam ID/Token:</label>
  <span><%= @job_set.token %></span>
</div>

<div class="print-button" onclick="document.location = '<%= url_for(:controller => :exams, :action => :index, :token => @job_set.token, :patient_id => @patient.id) %>'">Print</div>

