<h1>Cart Queued for Sending</h1>

<div class="demographic">
  <label>Patient Name:</label>
  <span><%= @patient.patient_name %></span>
</div>

<div class="demographic">
  <label>Date of Birth:</label>
  <span><%= @patient.dob %></span>
</div>

<div class="demographic">
  <label>Exam ID or Email:</label>
  <span><%= (@job_set.email_address.blank? or @job_set.force_token) ? @job_set.token : @job_set.email_address %></span>
</div>

<a class="btn btn-primary" onclick="document.location = '<%= url_for(:controller => :exams, :action => :index, :email_address => @job_set.email_address, :token => @job_set.token, :patient_id => @patient.id) %>'">Print</a>

