<div>
  <div class="inline">Patient Name:</div><span><%= @patient.patient_name %></span>
</div>

<div>
  <div class="inline">Token:</div><span><%= @token %></span>
</div>

<div>
  <div class="inline" style="margin-bottom: 20px;">Password:</div>
  <div>_____________________________________</div>
  <div>Write your password on the line above</div>
</div>

