<div>
  <div class="inline">Patient Name:</div><span><%= @patient.patient_name %></span>
</div>

<div>
  <div class="inline">Date of Birth:</div><span><%= @patient.dob %></span>
</div>

<div>
  <div class="inline">Exam ID or Email:</div><span><%= @token.blank? ? @email_address : @token %></span>
</div>

<div>
  <div class="inline" style="margin-bottom: 20px;">Password:</div>
  <div>_____________________________________</div>
  <div class="description">To help you remember it later, write your Password on the line above (remember it is case-sensitive). Keep this information private to protect the security of your health record. Use this information to retrieve your images into your account on one of the personal health record systems participating in the RSNA Image Share network. Radiology department staff can provide you with printed information on creating and accessing an account.</div>
</div>
<br />
<div class="description">
  <%= EdgeConfiguration.help_desk_message.html_safe %>
</div>
