<% content_for(:title, "Shopping Cart") %>
<% content_for(:javascript_includes, javascript_include_tag("pages/cart.js")) %>

<% if @exams.size > 0 %>
  <%= rsna_table_for @exams, class: "table table-bordered table-striped" do |st| %>
    <% st.column("Accession #") {|e| h e.accession_number } %>
    <% st.column("Exam Desc") {|e| h e.exam_description } %>
    <% st.column("Exam Date") {|e| h e.modified_date.to_s(:long) } %>
    <% st.column("") {|e| button_to("Remove From Cart", "#", id: "delete_link_#{e.id}", class: "btn btn-primary", onclick: "delete_from_cart('delete_link_#{e.id}', '#{e.id}');return false;") } %>
  <% end %>

<div>
  <%= link_to("Empty Cart", {action: "empty_cart", controller: "exams"}, class: "btn btn-primary") %>
  <%= link_to("Send Cart", "#", id: "send-cart-button", class: "btn btn-primary") %>
</div>

<%= render partial: "exams/token_dialog", locals: {exams: @exams} %>

<% else %>
 <div>Your shopping cart is empty</div>
<% end %>
