<% content_for(:title, "Shopping Cart") %>

<% if @exams.size > 0 %>
  <%= rsna_table_for @exams, :style => "width: 100%" do |st| %>
    <% st.column("Accession #") {|e| h e.accession_number } %>
    <% st.column("Exam Desc") {|e| h e.exam_description } %>
    <% st.column("Exam Date") {|e| h e.modified_date.to_s(:long) } %>
    <% st.column("") {|e| button_to("Remove From Cart", "#", onclick: "delete_from_cart('delete_link_#{e.id}', '#{e.id}');return false;", :id => "delete_link_#{e.id}") } %>
  <% end %>

<div class="form-actions">
  <%= button_to("Empty Cart", {:action => "empty_cart", :controller => "exams"}, :style => "display: inline;") %>
  <%= button_to("Send Cart", "#", onclick: "center_dialog($('#tokenDialog')); load_dialog($('#tokenDialog'));return false;") %>
</div>

<% content_for(:body) do %>
  <%= render :partial => "exams/token_dialog", :locals => {:exams => @exams} %>
<% end %>

<% else %>
 <div>Your shopping cart is empty</div>
<% end %>

<% javascript_tag do %>
$(document).ready(function() {
  $(".use-old-button").click(function(e) {
    $("#tokenChoiceDialog").hide();
    if ($(this).val() == "Yes") {
      $("#cart_form").append('<input type="hidden" name="use_old" value="true" />');
      $('#tokenPasswordDialog input[name="patient_password"]').val("not-used-password1");
      $('#tokenPasswordDialog input[name="patient_password_confirmation"]').val("not-used-password1");
      $("#tokenSendDialog").show();
    } else {
      $("#tokenPasswordDialog").show();
    }

  });
});
<% end %>
