<% content_for(:title, "Shopping Cart") %>

<% if @exams.size > 0 %>
  <% som_table_for @exams, :style => "width: 100%" do |st| %>
    <% st.column("Accession #") {|e| e.accession_number } %>
    <% st.column("Exam Desc") {|e| e.exam_description } %>
    <% st.column("Exam Date") {|e| e.modified_date.to_s(:long) } %>
    <% st.column("") {|e| button_to_function("Remove From Cart", "delete_from_cart('delete_link_#{e.id}', '#{e.id}');", :id => "delete_link_#{e.id}") } %>
  <% end %>

<div class="form-actions">
  <%= button_to("Empty Cart", {:action => "empty_cart", :controller => "exams"}, :style => "display: inline;") %>
  <% form_tag({:action => "send_cart", :controller => "exams"}, {:style => "display: inline;"}) do %>
    <% @exams.each do |exam| %>
      <%= hidden_field_tag "exam_ids[]", exam.id %>
    <% end %>
    <%= submit_tag("Send Cart") %>
  <% end %>
</div>

<% else %>
 <div>Your shopping cart is empty</div>
<% end %>



