<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  <%= stylesheet_link_tag "print_layout" %>
  <link rel="stylesheet" href="/stylesheets/print_layout.css" type="text/css" media="print" />
</head>

<body>
  <div id="header">
    <img src="/images/print-header.jpg" />
  </div>

  <div id="main">
    <%= @content_for_layout %>
  </div>

  <div class="footer">
    <%= javascript_tag("window.print();") %>
  </div>
</body>
</html>
